head
    title= title
    script(src='/js/vendor/react.development.js')
    script(src='/js/vendor/react-dom.development.js')
    script(src='/js/vendor/babel.min.js')

    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
