body {
    font-size: 85%;
    background: #fafafa;
}

.comment {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #ddd solid;
    border-top: 2px #fff solid;
}

.comment:first-child {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

.comment:last-child {
    border-bottom: none;
}

.comment__avatar {
    margin-right: 10px;
    border-radius: 5px;
}
